[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py2app" = "*"
"eyed3" = "*"
python-magic-bin = "==0.4.14"
pylast = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
